.body{
    background-color: #FFF3E0;
}

.add-button{
    position: fixed;/*El boton queda flotante encima del contenido*/

    bottom: 30px;

    right: 40px;

    background-color: #D84315;

    color: rgb(0, 0, 0);

    border-radius: 50%;

    border: none; /*Quitando borde*/

    width: 70px;/*Tamaño del boton*/
    height: 70px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /*sombra del boton*/

    display: flex; /*Activamos flexbox*/

    justify-content: center; /*Alineacion horizontal*/

    align-items: center;/*Alinacion vertical*/

    z-index: 1001; /*Es para que el boton quede encima de todo*/

    transition: transform 0.4s;/*Duracion de la animacion*/

    
}

.add-button:hover{
    transform: scale(1.2);
}

.tabla-scroll{

    overflow: auto; /*scroll horizontal*/
}

button{
    margin: 1px;/*separacion de botones*/
}

#preview-img {
    width: 100%;
    max-height: 800px;
    object-fit:fill;
    border-radius: 8px;
}

#image-preview {
    height: 100%;
    max-height: 500px;
}

#modal-content {
    display: flex;
    flex-direction: row;
}

.menu-header {
  background-color: #d94b1a;
  color: white;
  padding: 10px 0;
}

.logo-text {
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}


.menu-title {
  color: #d94b1a;
  font-weight: bold;
}

.search-bar input {
  background-color: #eee6d6;
  border: none;
}

.search-bar .input-group-text {
  border: none;
}

.logo-img {
  width: 50px;
  border-radius: 50%;
} 
  h3,h1{
    color: orange;
  }

  .menu-footer {
  background-color: #3e2d27;
  color: white;
  flex-wrap: wrap;
}

.menu-footer a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer-info {
  text-align: center;
  flex-grow: 1;
}

.footer-img {
  width: 40px;
  border-radius: 50%;
}